force-app/main/default/flows/Create_Notification_based_on_User_Timezone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Offset_Hour</name>
        <label>Check Offset Hour</label>
        <locationX>1502</locationX>
        <locationY>182</locationY>
        <defaultConnector>
            <targetReference>No_Matches</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Minus_one_hour</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OffsetHr</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Minusonehour</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_1_hr</targetReference>
            </connector>
            <label>Minus one hour</label>
        </rules>
        <rules>
            <name>Minus_two_hour</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OffsetHr</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Minustwohour</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_2_hr</targetReference>
            </connector>
            <label>Minus two hour</label>
        </rules>
        <rules>
            <name>Minus_three_hour</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OffsetHr</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Minusthreehour</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>wait_for_3_hour</targetReference>
            </connector>
            <label>Minus three hour</label>
        </rules>
        <rules>
            <name>minus_four_hour</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OffsetHr</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>minusfourhour</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>wait_for_4_hour</targetReference>
            </connector>
            <label>minus four hour</label>
        </rules>
        <rules>
            <name>minus_five_hour</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OffsetHr</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>minusfivehour</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>wait_for_5_hour</targetReference>
            </connector>
            <label>minus five hour</label>
        </rules>
        <rules>
            <name>minus_six_hour</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OffsetHr</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>minussixhour</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>wait_for_6_hour</targetReference>
            </connector>
            <label>minus six hour</label>
        </rules>
        <rules>
            <name>minus_seven_hour</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OffsetHr</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>minussevenhour</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>wait_for_7_hour</targetReference>
            </connector>
            <label>minus seven hour</label>
        </rules>
        <rules>
            <name>minus_eight_hour</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OffsetHr</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>minuseighthour</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>wait_for_8_hour</targetReference>
            </connector>
            <label>minus eight hour</label>
        </rules>
        <rules>
            <name>minus_nine_hour</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OffsetHr</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>minusninehour</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>wait_for_9_hour</targetReference>
            </connector>
            <label>minus nine hour</label>
        </rules>
        <rules>
            <name>minus_ten_hour</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OffsetHr</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>minustenhour</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>wait_for_10_hour</targetReference>
            </connector>
            <label>minus ten hour</label>
        </rules>
        <rules>
            <name>minus_eleven_hour</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OffsetHr</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>minuselevenhour</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>wait_for_11_hour</targetReference>
            </connector>
            <label>minus eleven hour</label>
        </rules>
    </decisions>
    <interviewLabel>Create Notification based on User Timezone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Notification based on User Timezone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateNotification</name>
        <label>CreateNotification</label>
        <locationX>1502</locationX>
        <locationY>590</locationY>
        <inputReference>NotificationList</inputReference>
    </recordCreates>
    <start>
        <locationX>1376</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Offset_Hour</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>minuseighthour</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>-8.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>minuselevenhour</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>-11.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>minusfivehour</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>-5.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>minusfourhour</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>-4.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>minusninehour</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>-9.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Minusonehour</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>-1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>minussevenhour</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>-7.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>minussixhour</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>-6.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>minustenhour</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>-10.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Minusthreehour</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>-3.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Minustwohour</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>-2.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Notification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Notification__c</objectType>
    </variables>
    <variables>
        <name>NotificationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification__c</objectType>
    </variables>
    <variables>
        <name>OffsetHr</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <waits>
        <name>No_Matches</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>No Matches</label>
        <locationX>2954</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>CreateNotification</targetReference>
            </connector>
            <label>el_0</label>
        </waitEvents>
    </waits>
    <waits>
        <name>wait_for_10_hour</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>wait for 10 hour</label>
        <locationX>2426</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>CreateNotification</targetReference>
            </connector>
            <label>el_1</label>
        </waitEvents>
    </waits>
    <waits>
        <name>wait_for_11_hour</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>wait for 11 hour</label>
        <locationX>2690</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>CreateNotification</targetReference>
            </connector>
            <label>el_2</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_for_1_hr</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait for 1 hr</label>
        <locationX>50</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>CreateNotification</targetReference>
            </connector>
            <label>el_3</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_for_2_hr</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait for 2 hr</label>
        <locationX>314</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>CreateNotification</targetReference>
            </connector>
            <label>el_4</label>
        </waitEvents>
    </waits>
    <waits>
        <name>wait_for_3_hour</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>wait for 3 hour</label>
        <locationX>578</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>CreateNotification</targetReference>
            </connector>
            <label>el_5</label>
        </waitEvents>
    </waits>
    <waits>
        <name>wait_for_4_hour</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>wait for 4 hour</label>
        <locationX>842</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>CreateNotification</targetReference>
            </connector>
            <label>el_6</label>
        </waitEvents>
    </waits>
    <waits>
        <name>wait_for_5_hour</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>wait for 5 hour</label>
        <locationX>1106</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>CreateNotification</targetReference>
            </connector>
            <label>el_7</label>
        </waitEvents>
    </waits>
    <waits>
        <name>wait_for_6_hour</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>wait for 6 hour</label>
        <locationX>1370</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>CreateNotification</targetReference>
            </connector>
            <label>el_8</label>
        </waitEvents>
    </waits>
    <waits>
        <name>wait_for_7_hour</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>wait for 7 hour</label>
        <locationX>1634</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>CreateNotification</targetReference>
            </connector>
            <label>el_9</label>
        </waitEvents>
    </waits>
    <waits>
        <name>wait_for_8_hour</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>wait for 8 hour</label>
        <locationX>1898</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>CreateNotification</targetReference>
            </connector>
            <label>el_10</label>
        </waitEvents>
    </waits>
    <waits>
        <name>wait_for_9_hour</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>wait for 9 hour</label>
        <locationX>2162</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>CreateNotification</targetReference>
            </connector>
            <label>el_11</label>
        </waitEvents>
    </waits>
</Flow>
