force-app/main/default/flows/Notification_for_Cancelled_Televisit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Push_Notification_for_Televisit</name>
        <label>Push Notification for Televisit</label>
        <locationX>489</locationX>
        <locationY>872</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_status_to_sent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_status_to_failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>$Record.Push_Message_Title__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Record.Push_Message_Body__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <stringValue>{&quot;type&quot;: &quot;comm__namedPage&quot;,&quot;attributes&quot;:{&quot;pageName&quot;:&quot;televisit&quot;},&quot;state&quot;:{&quot;ispast&quot;:&quot;true&quot;,&quot;perId&quot;:{!$Record.Notification__r.WhatId__c},&quot;contactId&quot;:&quot;{!$Record.Notification__r.Recipient__r.Id}&quot;,&quot;srId&quot;:&quot;{!$Record.Id}&quot;}}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_recipient_Ids</name>
        <label>Assign recipient Ids</label>
        <locationX>456</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Recipient_Contact_id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>452</locationX>
        <locationY>724</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fire_Push</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recipient_Contact_id.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Notification</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Push_Notification_for_Televisit</targetReference>
            </connector>
            <label>Fire Push</label>
        </rules>
    </decisions>
    <interviewLabel>Notification for Cancelled Televisit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notification for Cancelled Televisit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification</name>
        <label>Get Notification</label>
        <locationX>456</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recipient_Contact_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PP_v2_Push_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recipient_Contact_id</name>
        <label>Get Recipient Contact id</label>
        <locationX>456</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_recipient_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Notification__r.Recipient__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_status_to_failed</name>
        <label>Update status to failed</label>
        <locationX>644</locationX>
        <locationY>995</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_to_sent</name>
        <label>Update status to sent</label>
        <locationX>342</locationX>
        <locationY>1008</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Notification</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Target_Type__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Push</stringValue>
            </value>
        </filters>
        <filters>
            <field>Notification_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message_to_PT_Televisit_Cancelled_Type</stringValue>
            </value>
        </filters>
        <filters>
            <field>Notification_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message_to_PT_Televisit_Cancelled_Del_Ty</stringValue>
            </value>
        </filters>
        <object>Send_Result__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NotificationRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
