force-app/main/default/flows/Notification_For_New_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This will fire push notification to the user</description>
        <name>Push_Notification_for_Gift_Certificate</name>
        <label>Push Notification for Gift Certificate</label>
        <locationX>624</locationX>
        <locationY>1185</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Status_to_Sent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Status_to_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>$Record.Push_Message_Title__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Record.Push_Message_Body__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <stringValue>{&quot;type&quot;: &quot;comm__namedPage&quot;,&quot;attributes&quot;: {&quot;pageName&quot;: &quot;messages&quot;}}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Assign the recipient ids (user ids) to the collection</description>
        <name>Assign_Recipient_Ids</name>
        <label>Assign Recipient Ids</label>
        <locationX>627</locationX>
        <locationY>1072</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Recipient_User_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_required_fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_enrollments</name>
        <label>Check enrollments</label>
        <locationX>92</locationX>
        <locationY>655</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_partcipant_enrollements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_enrollment_is_for_current_contact_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_partcipant_enrollements.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Notification__r.WhatId__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Enrollment_on_Contact</targetReference>
            </connector>
            <label>If enrollment is for current contact Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_participant_is_active_or_alumni</name>
        <label>Check if participant is active or alumni</label>
        <locationX>553</locationX>
        <locationY>525</locationY>
        <defaultConnector>
            <targetReference>Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active Participant</defaultConnectorLabel>
        <rules>
            <name>Alumni_Participant</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-review Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contacted - Not Suitable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excluded from Referring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unable to Reach</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eligibility Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined Consent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrew Consent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screening Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unable to Screen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Randomization Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drop Out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrew Consent After Screening</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Participation Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_delegate_contact_for_alumni_participant</targetReference>
            </connector>
            <label>Alumni Participant</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validate the mandatory fields</description>
        <name>Validate_required_fields</name>
        <label>Validate required fields</label>
        <locationX>293</locationX>
        <locationY>1174</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fire_Push_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recipient_User_Id.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Custom_Notification_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Push_Notification_for_Gift_Certificate</targetReference>
            </connector>
            <label>Fire Push Notification</label>
        </rules>
    </decisions>
    <interviewLabel>Notification For New Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notification For New Message</label>
    <loops>
        <name>Loop_through_all_partcipant_enrollements</name>
        <label>Loop through all partcipant enrollements</label>
        <locationX>81</locationX>
        <locationY>393</locationY>
        <collectionReference>Get_Participant_Enrollment_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_enrollments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_PE_of_Delegate_s_Participant</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the record id for PP_RH_Push_Notification</description>
        <name>Get_Custom_Notification_Id</name>
        <label>Get Custom Notification Id</label>
        <locationX>627</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recipient_User_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PP_v2_Push_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Participant_Enrollment_Records</name>
        <label>Get Participant Enrollment Records</label>
        <locationX>411</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_partcipant_enrollements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Participant_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Notification__r.Recipient__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PE_of_Delegate_s_Participant</name>
        <label>Get PE of Delegate&apos;s Participant</label>
        <locationX>289</locationX>
        <locationY>657</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_participant_is_active_or_alumni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Notification__r.WhatId__c</elementReference>
            </value>
        </filters>
        <object>Participant_Enrollment__c</object>
        <outputReference>Participant_Enrollment_of_Delegate_s_Participant</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Participant_Contact__c</queriedFields>
        <queriedFields>Participant_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>To get the User Id of the Participants</description>
        <name>Get_Recipient_User_Id</name>
        <label>Get Recipient User Id</label>
        <locationX>837</locationX>
        <locationY>953</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recipient_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Notification__r.Recipient__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the contact fields of delegate, so that once the delegate clicks on the push notification he/she switches to his/her Participant&apos;s view.</description>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>985</locationX>
        <locationY>621</locationY>
        <connector>
            <targetReference>Get_Custom_Notification_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Participant_Enrollment__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Notification__r.WhatId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Participant_Enrollment__c</field>
            <value>
                <elementReference>$Record.Notification__r.WhatId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>userCommunityDelegateId__c</field>
            <value>
                <elementReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Notification__r.Recipient__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Enrollment_on_Contact</name>
        <label>Update Current Enrollment on Contact</label>
        <locationX>99</locationX>
        <locationY>886</locationY>
        <connector>
            <targetReference>Get_Custom_Notification_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Participant_Enrollment__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Notification__r.WhatId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Participant_Enrollment__c</field>
            <value>
                <elementReference>$Record.Notification__r.WhatId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Notification__r.Recipient__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_delegate_contact_for_alumni_participant</name>
        <label>Update delegate contact for alumni participant</label>
        <locationX>708</locationX>
        <locationY>676</locationY>
        <connector>
            <targetReference>Get_Custom_Notification_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>userCommunityDelegateId__c</field>
            <value>
                <elementReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Notification__r.Recipient__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update status and capture fault message</description>
        <name>Update_Status_to_Failed</name>
        <label>Update Status to Failed</label>
        <locationX>904</locationX>
        <locationY>1181</locationY>
        <inputAssignments>
            <field>Error__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the record status to &quot;Sent&quot; if the push notification is successful.</description>
        <name>Update_Status_to_Sent</name>
        <label>Update Status to Sent</label>
        <locationX>623</locationX>
        <locationY>1341</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>468</locationX>
        <locationY>86</locationY>
        <connector>
            <targetReference>Get_Participant_Enrollment_Records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Target_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Push</stringValue>
            </value>
        </filters>
        <filters>
            <field>Notification_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message_To_PT_New_Message_Type</stringValue>
            </value>
        </filters>
        <object>Send_Result__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Collection variable that will hold the push notification recipient  ids</description>
        <name>NotificationRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Participant_Enrollment_of_Delegate_s_Participant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Participant_Enrollment__c</objectType>
    </variables>
</Flow>
