force-app/main/default/flows/Notification_For_Visit_Result.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This will fire push notification to the user</description>
        <name>Push_Notification_for_Active_Participant</name>
        <label>Push Notification for Active Participant</label>
        <locationX>768</locationX>
        <locationY>2253</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Status_to_Sent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Status_to_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>$Record.Push_Message_Title__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Record.Push_Message_Body__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <stringValue>{&quot;type&quot;: &quot;comm__namedPage&quot;,&quot;attributes&quot;: {&quot;pageName&quot;: &quot;results&quot;}}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Push_Notification_for_Alumni_Participant</name>
        <label>Push Notification for Alumni Participant</label>
        <locationX>1370</locationX>
        <locationY>2248</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Status_to_Sent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Status_to_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>$Record.Push_Message_Title__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Record.Push_Message_Body__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <elementReference>URLValue</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Participant_Status</name>
        <label>Assign Participant Status</label>
        <locationX>1268</locationX>
        <locationY>812</locationY>
        <assignmentItems>
            <assignToReference>isAlumniParticipant</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Delegate_Contact_for_Alumni_Participant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Participant_Status_Value</name>
        <label>Assign Participant Status Value</label>
        <locationX>784</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>isAlumniParticipant</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Delegate_Contact_for_Active_Participant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the recipient ids (user ids) to the collection</description>
        <name>Assign_Recipient_Ids</name>
        <label>Assign Recipient Ids</label>
        <locationX>1016</locationX>
        <locationY>1673</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Recipient_User_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_required_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Active_Participant</name>
        <label>Is Active Participant</label>
        <locationX>694</locationX>
        <locationY>1198</locationY>
        <assignmentItems>
            <assignToReference>ActiveParticipant</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Alumni_Participant</name>
        <label>Is Alumni Participant</label>
        <locationX>399</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>ActiveParticipant</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Required_Field_Values_from_Current_PER</name>
        <label>Required Field Values from Current PER</label>
        <locationX>50</locationX>
        <locationY>610</locationY>
        <assignmentItems>
            <assignToReference>CurrentParticipantEnrollment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_all_participant_enrollments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isParticipant</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_all_participant_enrollments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Participant_is_Active_or_Alumni</name>
        <label>Check if Participant is Active or Alumni</label>
        <locationX>1002</locationX>
        <locationY>691</locationY>
        <defaultConnector>
            <targetReference>Assign_Participant_Status_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active Participant</defaultConnectorLabel>
        <rules>
            <name>Alumni_Participant</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-review Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contacted - Not Suitable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excluded from Referring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unable to Reach</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eligibility Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined Consent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrew Consent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screening Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unable to Screen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Randomization Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drop Out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrew Consent After Screening</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Participation Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Participant_Status</targetReference>
            </connector>
            <label>Alumni Participant</label>
        </rules>
    </decisions>
    <decisions>
        <description>Find matching participant enrollment, from the list of participant enrollment records.</description>
        <name>Find_matching_participant_enrollment</name>
        <label>Find matching participant enrollment</label>
        <locationX>342</locationX>
        <locationY>929</locationY>
        <defaultConnector>
            <targetReference>Iterate_all_participant_enrollments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Notification is Created for Delegate&apos;s Contact</defaultConnectorLabel>
        <rules>
            <name>If_Notification_is_Created_for_Current_Logged_in_Contact_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_all_participant_enrollments.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Notification__r.WhatId__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Required_Field_Values_from_Current_PER</targetReference>
            </connector>
            <label>If Notification is Created for Current Logged in Contact Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Participant_is_Alumni_or_Active</name>
        <label>If Participant is Alumni or Active</label>
        <locationX>1009</locationX>
        <locationY>1967</locationY>
        <defaultConnector>
            <targetReference>Push_Notification_for_Active_Participant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Partcipant is Active</defaultConnectorLabel>
        <rules>
            <name>Participant_is_Alumni</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Alumni_Participant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveParticipant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Push_Notification_for_Alumni_Participant</targetReference>
            </connector>
            <label>Participant is Alumni</label>
        </rules>
    </decisions>
    <decisions>
        <name>Participant_is_Alumni_or_Active</name>
        <label>Participant is Alumni or Active</label>
        <locationX>547</locationX>
        <locationY>1100</locationY>
        <defaultConnector>
            <targetReference>Is_Active_Participant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Participant Active</defaultConnectorLabel>
        <rules>
            <name>Participant_Alumni</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentParticipantEnrollment.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentParticipantEnrollment.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentParticipantEnrollment.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-review Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentParticipantEnrollment.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contacted - Not Suitable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentParticipantEnrollment.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excluded from Referring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentParticipantEnrollment.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unable to Reach</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentParticipantEnrollment.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eligibility Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentParticipantEnrollment.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined Consent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentParticipantEnrollment.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrew Consent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentParticipantEnrollment.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screening Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentParticipantEnrollment.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unable to Screen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentParticipantEnrollment.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentParticipantEnrollment.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Randomization Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentParticipantEnrollment.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drop Out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentParticipantEnrollment.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentParticipantEnrollment.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrew Consent After Screening</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentParticipantEnrollment.Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Participation Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Alumni_Participant</targetReference>
            </connector>
            <label>Participant Alumni</label>
        </rules>
    </decisions>
    <decisions>
        <name>Participant_or_Delegate</name>
        <label>Participant or Delegate</label>
        <locationX>546</locationX>
        <locationY>690</locationY>
        <defaultConnector>
            <targetReference>Get_PER_of_Delegate_s_Participant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Delegate</defaultConnectorLabel>
        <rules>
            <name>Is_Participant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isParticipant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Enrollment_Field_on_Contact</targetReference>
            </connector>
            <label>Is Participant</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validate the mandatory fields</description>
        <name>Validate_required_fields</name>
        <label>Validate required fields</label>
        <locationX>1009</locationX>
        <locationY>1845</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fire_Push_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recipient_User_Id.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Custom_Notification_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Participant_is_Alumni_or_Active</targetReference>
            </connector>
            <label>Fire Push Notification</label>
        </rules>
    </decisions>
    <interviewLabel>Notification For Visit Result {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notification For Visit Result</label>
    <loops>
        <description>Iterate through all participant enrollments and find if the notification was created for the logged in contact.</description>
        <name>Iterate_all_participant_enrollments</name>
        <label>Iterate all participant enrollments</label>
        <locationX>340</locationX>
        <locationY>510</locationY>
        <collectionReference>Get_Participant_Enrollment_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_matching_participant_enrollment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Participant_or_Delegate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the record id for PP_RH_Push_Notification</description>
        <name>Get_Custom_Notification_Id</name>
        <label>Get Custom Notification Id</label>
        <locationX>1012</locationX>
        <locationY>1353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recipient_User_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PP_v2_Push_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Participant Enrollment Records for the logged in user.</description>
        <name>Get_Participant_Enrollment_Records</name>
        <label>Get Participant Enrollment Records</label>
        <locationX>822</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_all_participant_enrollments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Participant_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Notification__r.Recipient__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PER_of_Delegate_s_Participant</name>
        <label>Get PER of Delegate&apos;s Participant</label>
        <locationX>755</locationX>
        <locationY>681</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Participant_is_Active_or_Alumni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Notification__r.WhatId__c</elementReference>
            </value>
        </filters>
        <object>Participant_Enrollment__c</object>
        <outputReference>Participant_Enrollment_of_Delegate_s_Participant</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Participant_Contact__c</queriedFields>
        <queriedFields>Participant_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>To get the User Id of the Participants</description>
        <name>Get_Recipient_User_Id</name>
        <label>Get Recipient User Id</label>
        <locationX>1013</locationX>
        <locationY>1522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recipient_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Notification__r.Recipient__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Current Enrollment Field on Contact</description>
        <name>Update_Current_Enrollment_Field_on_Contact</name>
        <label>Update Current Enrollment Field on Contact</label>
        <locationX>556</locationX>
        <locationY>918</locationY>
        <connector>
            <targetReference>Participant_is_Alumni_or_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Participant_Enrollment__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Notification__r.WhatId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Participant_Enrollment__c</field>
            <value>
                <elementReference>$Record.Notification__r.WhatId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Notification__r.Recipient__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the contact fields of delegate, so that once the delegate clicks on the push notification he/she switches to his/her Participant&apos;s view.</description>
        <name>Update_Delegate_Contact_for_Active_Participant</name>
        <label>Update Delegate Contact for Active Participant</label>
        <locationX>789</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>Get_Custom_Notification_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Participant_Enrollment__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Notification__r.WhatId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Participant_Enrollment__c</field>
            <value>
                <elementReference>$Record.Notification__r.WhatId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>userCommunityDelegateId__c</field>
            <value>
                <elementReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Notification__r.Recipient__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Delegate_Contact_for_Alumni_Participant</name>
        <label>Update Delegate Contact for Alumni Participant</label>
        <locationX>1267</locationX>
        <locationY>991</locationY>
        <connector>
            <targetReference>Get_Custom_Notification_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>userCommunityDelegateId__c</field>
            <value>
                <elementReference>Participant_Enrollment_of_Delegate_s_Participant.Participant_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Notification__r.Recipient__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update status and capture fault message</description>
        <name>Update_Status_to_Failed</name>
        <label>Update Status to Failed</label>
        <locationX>1121</locationX>
        <locationY>2572</locationY>
        <inputAssignments>
            <field>Error__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the record status to &quot;Sent&quot; if the push notification is successful.</description>
        <name>Update_Status_to_Sent</name>
        <label>Update Status to Sent</label>
        <locationX>1033</locationX>
        <locationY>2371</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>697</locationX>
        <locationY>86</locationY>
        <connector>
            <targetReference>Get_Participant_Enrollment_Records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Target_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Push</stringValue>
            </value>
        </filters>
        <filters>
            <field>Notification_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message_to_PT_Del_Visit_Result_Availabl</stringValue>
            </value>
        </filters>
        <object>Send_Result__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ActiveParticipant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CurrentParticipantEnrollment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Participant_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>isAlumniParticipant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isParticipant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Collection variable that will hold the push notification recipient  ids</description>
        <name>NotificationRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Participant_Enrollment_of_Delegate_s_Participant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Participant_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>URLValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{&quot;type&quot;: &quot;comm__namedPage&quot;,&quot;attributes&quot;:{&quot;pageName&quot;: &quot;past-studies&quot;},&quot;state&quot;:{&quot;per&quot;:&quot;{!$Record.Notification__r.WhatId__c}&quot;}}}</stringValue>
        </value>
    </variables>
</Flow>
