force-app/main/default/flows/Study_Resources.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>Article</name>
        <choiceText>Article</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Certificate</name>
        <choiceText>Certificate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Certificate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Exist</name>
        <choiceText>Choose existing resource</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>Create new resource</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>RelevantLink</name>
        <choiceText>Relevant Link</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Study_Document_recordtype</name>
        <choiceText>Study Document</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>StudyDocument</name>
        <choiceText>Study Document</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>StudyDocument</stringValue>
        </value>
    </choices>
    <choices>
        <name>test</name>
        <choiceText>Test</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Video</name>
        <choiceText>Video</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>Content_Class</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Study-Specific</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Current_or_new_resource</name>
        <label>Current or new resource</label>
        <locationX>759</locationX>
        <locationY>186</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Res</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Pick_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type</targetReference>
            </connector>
            <label>New Res</label>
        </rules>
        <rules>
            <name>Exist_res</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Pick_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exist_Res_c</targetReference>
            </connector>
            <label>Exist Res</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ActiveOnStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Active_On_Status__c</picklistField>
        <picklistObject>Res_study__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Content_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Content_Type__c</picklistField>
        <picklistObject>Resource__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Document_type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>document_type__c</picklistField>
        <picklistObject>Resource__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExpiresOnStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expires_On_Status__c</picklistField>
        <picklistObject>Res_study__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Languageobject</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Language__c</picklistField>
        <picklistObject>Resource__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Recources_Name_second</name>
        <dataType>String</dataType>
        <displayField>Title__c</displayField>
        <limit>200</limit>
        <object>Resource__c</object>
        <sortField>Posting_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Title__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecourcesName</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>200</limit>
        <object>Resource__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Study Resources {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Study_Resources</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Res</name>
        <label>Create Res</label>
        <locationX>432</locationX>
        <locationY>459</locationY>
        <assignRecordIdToReference>Recources_for_StudyRes</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Study_Res</targetReference>
        </connector>
        <inputAssignments>
            <field>Content_Type__c</field>
            <value>
                <stringValue>Study_Document</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version_Date__c</field>
            <value>
                <elementReference>Version_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Video__c</field>
            <value>
                <elementReference>Video_Link</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>document_type__c</field>
            <value>
                <elementReference>Document_type</elementReference>
            </value>
        </inputAssignments>
        <object>Resource__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Study_Res</name>
        <label>Create Study Res</label>
        <locationX>574</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Upload_File</targetReference>
        </connector>
        <inputAssignments>
            <field>Active_After_Days__c</field>
            <value>
                <elementReference>Number_of_Days_Active_after_Enrollment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_On_Status__c</field>
            <value>
                <elementReference>ActiveOnStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinical_Trial_Profile__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expires_After_Days__c</field>
            <value>
                <elementReference>Number_of_Days_Before_Document_Expires</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expires_On_Status__c</field>
            <value>
                <elementReference>ExpiresOnStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource__c</field>
            <value>
                <elementReference>Recources_for_StudyRes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_In_Alumni__c</field>
            <value>
                <elementReference>Visible_In_Alumni</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_To_Delegates__c</field>
            <value>
                <elementReference>Visible_To_Delegates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_To_PI__c</field>
            <value>
                <elementReference>Visible_To_PI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_To_Participant__c</field>
            <value>
                <elementReference>Visible_To_Participant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_To_RP__c</field>
            <value>
                <elementReference>Visible_To_RP</elementReference>
            </value>
        </inputAssignments>
        <object>Res_study__c</object>
    </recordCreates>
    <recordCreates>
        <name>StudyDoc2</name>
        <label>StudyDoc2</label>
        <locationX>1033</locationX>
        <locationY>681</locationY>
        <connector>
            <targetReference>Upload_File</targetReference>
        </connector>
        <inputAssignments>
            <field>Active_After_Days__c</field>
            <value>
                <elementReference>Number_of_Days_Active_after_Enrollment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_On_Status__c</field>
            <value>
                <elementReference>RecourcesName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinical_Trial_Profile__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expires_After_Days__c</field>
            <value>
                <elementReference>Number_of_Days_Before_Document_Expires</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expires_On_Status__c</field>
            <value>
                <elementReference>ExpiresOnStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource__c</field>
            <value>
                <elementReference>RecourcesName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_In_Alumni__c</field>
            <value>
                <elementReference>Visible_In_Alumni</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_To_Delegates__c</field>
            <value>
                <elementReference>Visible_To_Delegates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_To_PI__c</field>
            <value>
                <elementReference>Visible_To_PI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_To_Participant__c</field>
            <value>
                <elementReference>Visible_To_Participant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_To_RP__c</field>
            <value>
                <elementReference>Visible_To_RP</elementReference>
            </value>
        </inputAssignments>
        <object>Res_study__c</object>
    </recordCreates>
    <screens>
        <name>Choose</name>
        <label>Choose</label>
        <locationX>765</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Current_or_new_resource</targetReference>
        </connector>
        <fields>
            <name>Pick_option</name>
            <choiceReferences>Exist</choiceReferences>
            <choiceReferences>New</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick an option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Exist_Res_c</name>
        <label>Exist Res</label>
        <locationX>1027</locationX>
        <locationY>185</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Study_Res</targetReference>
        </connector>
        <fields>
            <name>Study_Recources</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Resource__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Res_study__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Recources_for_StudyRes</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>249</locationX>
        <locationY>219</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Study_Doc_c</targetReference>
        </connector>
        <fields>
            <name>Choose_record_type_recource</name>
            <choiceReferences>RelevantLink</choiceReferences>
            <choiceReferences>Article</choiceReferences>
            <choiceReferences>Study_Document_recordtype</choiceReferences>
            <choiceReferences>Video</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Study_Document_recordtype</defaultSelectedChoiceReference>
            <fieldText>Choose record type recource</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Study_Doc_c</name>
        <label>Study Doc</label>
        <locationX>432</locationX>
        <locationY>322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Res</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Video_Link</name>
            <dataType>String</dataType>
            <fieldText>Video Link</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Language_object</name>
            <choiceReferences>Languageobject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Language object</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Document_types</name>
            <choiceReferences>Document_type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Document types</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Version_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Version_Date</elementReference>
            </defaultValue>
            <fieldText>Version Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Study_Resource</name>
        <label>Study Resource</label>
        <locationX>487</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choose</targetReference>
        </connector>
        <fields>
            <name>CTP</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Clinical Trial Profile</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Clinical_Trial_Profile__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Res_study__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>DependecyPicklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Res_study__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Active_On_Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Expires_On_Status__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Visible_To_Participant</name>
            <dataType>Boolean</dataType>
            <fieldText>Visible To Participant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_Days_Active_after_Enrollment</name>
            <dataType>Number</dataType>
            <fieldText>Number of Days Active after Enrollment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>4</scale>
        </fields>
        <fields>
            <name>Number_of_Days_Before_Document_Expires</name>
            <dataType>Number</dataType>
            <fieldText>Number of Days Before Document Expires</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>4</scale>
        </fields>
        <fields>
            <name>Visible_In_Alumni</name>
            <dataType>Boolean</dataType>
            <fieldText>Visible In Alumni</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Visible_To_Delegates</name>
            <dataType>Boolean</dataType>
            <fieldText>Visible To Delegates</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notify_On_Availability</name>
            <dataType>Boolean</dataType>
            <fieldText>Notify On Availability</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Visible_To_PI</name>
            <dataType>Boolean</dataType>
            <fieldText>Visible To PI</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Visible_To_RP</name>
            <dataType>Boolean</dataType>
            <fieldText>Visible To RP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_File</name>
        <label>Upload File</label>
        <locationX>859</locationX>
        <locationY>851</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Upload</name>
            <fieldText>&lt;p&gt;Choose file for upload&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fileupload</name>
            <extensionName>c:FileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Recources_for_StudyRes</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>180</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Study_Resource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Assigned</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Resource__c</objectType>
    </variables>
    <variables>
        <name>Created_resource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Resource__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recources_for_StudyRes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecourcesName_variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>RecourcesName</elementReference>
        </value>
    </variables>
    <variables>
        <name>StudySpecific</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Study-Specific</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Resource__c</objectType>
    </variables>
</Flow>
