force-app/main/default/flows/Study_Resources.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>BackNnRecord</name>
        <label>BackNnRecord</label>
        <locationX>1391</locationX>
        <locationY>1925</locationY>
        <actionName>c:NavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>recordId</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_COI_TA_Assignment</name>
        <label>Create COI/TA Assignment</label>
        <locationX>1265</locationX>
        <locationY>1419</locationY>
        <actionName>CreateTACOIAssignmentHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>BackNnRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>chosenConditions</name>
            <value>
                <elementReference>COIRecordIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>docIds</name>
            <value>
                <elementReference>DocIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resourceId</name>
            <value>
                <elementReference>Recources_for_StudyRes</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Article</name>
        <choiceText>Article</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Article</stringValue>
        </value>
    </choices>
    <choices>
        <name>Certificate</name>
        <choiceText>Certificate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Certificate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Content_Class_choice</name>
        <choiceText>Study-Specific</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Study-Specific</stringValue>
        </value>
    </choices>
    <choices>
        <name>Exist</name>
        <choiceText>Choose existing resource</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exist</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>Create new resource</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>RelevantLink</name>
        <choiceText>Relevant Link</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Relevant Link</stringValue>
        </value>
    </choices>
    <choices>
        <name>Study_Document_recordtype</name>
        <choiceText>Document</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Document</stringValue>
        </value>
    </choices>
    <choices>
        <name>StudyDocument</name>
        <choiceText>Study Document</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>StudyDocument</stringValue>
        </value>
    </choices>
    <choices>
        <name>Video</name>
        <choiceText>Video</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Video</stringValue>
        </value>
    </choices>
    <constants>
        <name>Content_Class</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Study-Specific</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>539</locationX>
        <locationY>1461</locationY>
        <defaultConnector>
            <targetReference>Create_Res</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Video_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_record_type_resource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Video</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Res_Video</targetReference>
            </connector>
            <label>Video Resource</label>
        </rules>
        <rules>
            <name>Article_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_record_type_resource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Article</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_record_article</targetReference>
            </connector>
            <label>Article Resource</label>
        </rules>
        <rules>
            <name>Relevant_Link_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_record_type_resource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RelevantLink</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Res_0</targetReference>
            </connector>
            <label>Relevant Link Resource</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_or_new_resource</name>
        <label>Current or new resource</label>
        <locationX>495</locationX>
        <locationY>559</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Res_Study_Doc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pick_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Choose_record_type_resource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Study_Doc_c</targetReference>
            </connector>
            <label>New Res Study Doc</label>
        </rules>
        <rules>
            <name>New_Res</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Pick_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Choose_record_type_resource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Article</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Article_type_record</targetReference>
            </connector>
            <label>New Res Article</label>
        </rules>
        <rules>
            <name>Exist_res</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pick_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exist_Res_c</targetReference>
            </connector>
            <label>Exist Res</label>
        </rules>
        <rules>
            <name>New_Res_Relevant_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_record_type_resource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relevant Link</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pick_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relevant_Link_recordType</targetReference>
            </connector>
            <label>New Res Relevant Link</label>
        </rules>
        <rules>
            <name>New_Res_Video</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pick_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Choose_record_type_resource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Video</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Video_type_record</targetReference>
            </connector>
            <label>New Res Video</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Rocord_type</name>
        <label>Type Rocord type</label>
        <locationX>452</locationX>
        <locationY>1928</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StudyDoc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_record_type_resource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Study_Document_recordtype</elementReference>
                </rightValue>
            </conditions>
            <label>StudyDoc</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Rocord_type_1</name>
        <label>Type Rocord type</label>
        <locationX>43</locationX>
        <locationY>1090</locationY>
        <defaultConnector>
            <targetReference>Add_COI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StudyDoc_record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_record_type_resource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Study_Document_recordtype</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_File</targetReference>
            </connector>
            <label>StudyDoc</label>
        </rules>
    </decisions>
    <description>Added Description</description>
    <dynamicChoiceSets>
        <name>ActiveOnStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Active_On_Status__c</picklistField>
        <picklistObject>Res_study__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Content_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Content_Type__c</picklistField>
        <picklistObject>Resource__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContentClass_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Content_Class__c</picklistField>
        <picklistObject>Resource__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Countries_multipicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Countries__c</picklistField>
        <picklistObject>Resource__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Document_type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>document_type__c</picklistField>
        <picklistObject>Resource__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExpiresOnStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expires_On_Status__c</picklistField>
        <picklistObject>Res_study__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Languageobject</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Language__c</picklistField>
        <picklistObject>Resource__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Languages_c_multipicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Languages__c</picklistField>
        <picklistObject>Resource__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Recources_Name_second</name>
        <dataType>String</dataType>
        <displayField>Title__c</displayField>
        <limit>200</limit>
        <object>Resource__c</object>
        <sortField>Posting_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Title__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecourcesName</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>200</limit>
        <object>Resource__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Resource_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Resource_Type__c</picklistField>
        <picklistObject>Resource__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResourceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Resource_Type__c</picklistField>
        <picklistObject>Resource__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type_c_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Resource__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>x3rdPartySource_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>X3rd_Party_Source__c</picklistField>
        <picklistObject>Resource__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CTPId</name>
        <dataType>String</dataType>
        <expression>{!ClinicalTrialProfileId.Id}</expression>
    </formulas>
    <interviewLabel>Study Resources {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Study Resource</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_record_article</name>
        <label>Create record article</label>
        <locationX>675</locationX>
        <locationY>1128</locationY>
        <assignRecordIdToReference>Recources_for_StudyRes</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Study_Res_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Author_s_Name__c</field>
            <value>
                <elementReference>Author_s_Name_field_recordtypeArticle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Body__c</field>
            <value>
                <elementReference>Body_field_recordtypeArticle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Byline__c</field>
            <value>
                <elementReference>Byline_field_recordtypeArticle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content_Class__c</field>
            <value>
                <stringValue>Study-Specific</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Copyright__c</field>
            <value>
                <elementReference>Copyright_field_recordtypeArticle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description_field_recordtypeArticle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>Expiration_Date_field_recordtypeArticle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_Subtitle__c</field>
            <value>
                <elementReference>Image_Subtitle_field_recordtypeArticle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_Title__c</field>
            <value>
                <elementReference>Image_Title_field_recordtypeArticle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image__c</field>
            <value>
                <elementReference>Image_Link_field_recordtypeArticle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <elementReference>Language_field_recordtypeArticle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Posting_Date__c</field>
            <value>
                <elementReference>Posting_Date_field_recordtypeArticle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remove_sharing__c</field>
            <value>
                <elementReference>Remove_sharing_field_recordtypeArticle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource_Type__c</field>
            <value>
                <elementReference>Resource_Type3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Source_field_recordtypeArticle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtitle__c</field>
            <value>
                <elementReference>Subtitle_field_recordtypeArticle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Therapeutic_Areas__c</field>
            <value>
                <elementReference>SiteCore_Conditions_field_recordtypeArticle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Title_field_recordtypeArticle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>URL_Part__c</field>
            <value>
                <elementReference>URL_Part_field_recordtypeArticle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_Date__c</field>
            <value>
                <elementReference>Updated_Date_field_recordtypeArticle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version_Date__c</field>
            <value>
                <elementReference>Version_Date3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X3rd_Party_Source__c</field>
            <value>
                <elementReference>X3rd_Party_Source_field_recordtypeArticle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>article_external_link__c</field>
            <value>
                <elementReference>Article_External_Link_field_recordtypeArticle</elementReference>
            </value>
        </inputAssignments>
        <object>Resource__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Res</name>
        <label>Create Res</label>
        <locationX>838</locationX>
        <locationY>1510</locationY>
        <assignRecordIdToReference>Recources_for_StudyRes</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Study_Res</targetReference>
        </connector>
        <inputAssignments>
            <field>Content_Type__c</field>
            <value>
                <stringValue>Study_Document</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource_Type__c</field>
            <value>
                <elementReference>Resource_Type1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version_Date__c</field>
            <value>
                <elementReference>Version_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>document_type__c</field>
            <value>
                <elementReference>Document_type</elementReference>
            </value>
        </inputAssignments>
        <object>Resource__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Res_0</name>
        <label>Create Res</label>
        <locationX>974</locationX>
        <locationY>1309</locationY>
        <assignRecordIdToReference>Recources_for_StudyRes</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Study_Res_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Content_Type__c</field>
            <value>
                <stringValue>Relevant_Link</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Countries__c</field>
            <value>
                <elementReference>Countries_field_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>RelevantLinksDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Languages__c</field>
            <value>
                <elementReference>Languages_field_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource_Type__c</field>
            <value>
                <elementReference>Resource_Type2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Title_URL_field_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type_field_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>URL__c</field>
            <value>
                <elementReference>URL_field_urlRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version_Date__c</field>
            <value>
                <elementReference>Version_Date2</elementReference>
            </value>
        </inputAssignments>
        <object>Resource__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Res_Video</name>
        <label>Create Res Video</label>
        <locationX>520</locationX>
        <locationY>1052</locationY>
        <assignRecordIdToReference>Recources_for_StudyRes</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Study_Res_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Author_s_Name__c</field>
            <value>
                <elementReference>Author_s_Name_field_recordtypeArticle_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Body__c</field>
            <value>
                <elementReference>Body_field_recordtypeArticle_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Byline__c</field>
            <value>
                <elementReference>Byline_field_recordtypeArticle_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content_Class__c</field>
            <value>
                <stringValue>Study-Specific</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content_Type__c</field>
            <value>
                <stringValue>Video</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Copyright__c</field>
            <value>
                <elementReference>Copyright_field_recordtypeArticle_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description_field_recordtypeArticle_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>Expiration_Date_field_recordtypeArticle_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_Subtitle__c</field>
            <value>
                <elementReference>Image_Subtitle_field_recordtypeArticle_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_Title__c</field>
            <value>
                <elementReference>Image_Title_field_recordtypeArticle_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image__c</field>
            <value>
                <elementReference>Image_Link_field_recordtypeArticle_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <elementReference>Language_field_recordtypeArticle_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Posting_Date__c</field>
            <value>
                <elementReference>Posting_Date_field_recordtypeArticle_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remove_sharing__c</field>
            <value>
                <elementReference>Remove_sharing_field_recordtypeArticle_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource_Type__c</field>
            <value>
                <elementReference>Resource_Type4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Source_field_recordtypeArticle_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtitle__c</field>
            <value>
                <elementReference>Subtitle_field_recordtypeArticle_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Therapeutic_Areas__c</field>
            <value>
                <elementReference>SiteCore_Conditions_field_recordtypeArticle_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Title_field_recordtypeArticle_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>URL_Part__c</field>
            <value>
                <elementReference>URL_Part_field_recordtypeArticle_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_Date__c</field>
            <value>
                <elementReference>Updated_Date_field_recordtypeArticle_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version_Date__c</field>
            <value>
                <elementReference>Version_Date4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Video__c</field>
            <value>
                <elementReference>Video_Link_field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X3rd_Party_Source__c</field>
            <value>
                <elementReference>X3rd_Party_Source_field_recordtypeArticle_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>article_external_link__c</field>
            <value>
                <elementReference>Article_External_Link_field_recordtypeArticle_0</elementReference>
            </value>
        </inputAssignments>
        <object>Resource__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Study_Res</name>
        <label>Create Study Res</label>
        <locationX>977</locationX>
        <locationY>1544</locationY>
        <connector>
            <targetReference>Create_COI_TA_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Active_After_Days__c</field>
            <value>
                <elementReference>Number_of_Days_Active_after_Enrollment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_On_Status__c</field>
            <value>
                <elementReference>ActiveOnStatus_variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinical_Trial_Profile__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expires_After_Days__c</field>
            <value>
                <elementReference>Number_of_Days_Before_Document_Expires</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expires_On_Status__c</field>
            <value>
                <elementReference>ExpiresOnStatus_variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notify_On_Availability__c</field>
            <value>
                <elementReference>Notify_On_Availability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource__c</field>
            <value>
                <elementReference>Recources_for_StudyRes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_In_Alumni__c</field>
            <value>
                <elementReference>Visible_In_Alumni</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_To_Delegates__c</field>
            <value>
                <elementReference>Visible_To_Delegates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_To_PI__c</field>
            <value>
                <elementReference>Visible_To_PI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_To_Participant__c</field>
            <value>
                <elementReference>Visible_To_Participant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_To_RP__c</field>
            <value>
                <elementReference>Visible_To_RP</elementReference>
            </value>
        </inputAssignments>
        <object>Res_study__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Study_Res_0</name>
        <label>Create Study Res</label>
        <locationX>1636</locationX>
        <locationY>1794</locationY>
        <connector>
            <targetReference>BackNnRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Active_After_Days__c</field>
            <value>
                <elementReference>Number_of_Days_Active_after_Enrollment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_On_Status__c</field>
            <value>
                <elementReference>ActiveOnStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinical_Trial_Profile__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expires_After_Days__c</field>
            <value>
                <elementReference>Number_of_Days_Before_Document_Expires</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expires_On_Status__c</field>
            <value>
                <elementReference>ExpiresOnStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource__c</field>
            <value>
                <elementReference>Exist_recource_variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_In_Alumni__c</field>
            <value>
                <elementReference>Visible_In_Alumni</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_To_Delegates__c</field>
            <value>
                <elementReference>Visible_To_Delegates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_To_PI__c</field>
            <value>
                <elementReference>Visible_To_PI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_To_Participant__c</field>
            <value>
                <elementReference>Visible_To_Participant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_To_RP__c</field>
            <value>
                <elementReference>Visible_To_RP</elementReference>
            </value>
        </inputAssignments>
        <object>Res_study__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Study_Res_0_0</name>
        <label>Create Study Res</label>
        <locationX>914</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Create_COI_TA_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Active_After_Days__c</field>
            <value>
                <elementReference>Number_of_Days_Active_after_Enrollment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_On_Status__c</field>
            <value>
                <elementReference>ActiveOnStatus_variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinical_Trial_Profile__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expires_After_Days__c</field>
            <value>
                <elementReference>Number_of_Days_Before_Document_Expires</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expires_On_Status__c</field>
            <value>
                <elementReference>ExpiresOnStatus_variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource__c</field>
            <value>
                <elementReference>Recources_for_StudyRes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_In_Alumni__c</field>
            <value>
                <elementReference>Visible_In_Alumni</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_To_Delegates__c</field>
            <value>
                <elementReference>Visible_To_Delegates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_To_PI__c</field>
            <value>
                <elementReference>Visible_To_PI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_To_Participant__c</field>
            <value>
                <elementReference>Visible_To_Participant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visible_To_RP__c</field>
            <value>
                <elementReference>Visible_To_RP</elementReference>
            </value>
        </inputAssignments>
        <object>Res_study__c</object>
    </recordCreates>
    <screens>
        <name>Add_COI</name>
        <label>Add COI</label>
        <locationX>399</locationX>
        <locationY>1273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <fields>
            <name>headerOfChoosingCOI</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;{!Choose_record_type_resource}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>chooseCOILookupLabel</name>
            <fieldText>&lt;p&gt;Choose COI Lookup&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LookupCOI</name>
            <extensionName>c:flowCOILookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Recources_for_StudyRes</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>COIRecordIds</assignToReference>
                <name>coirecordIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>footerWithNextButton</name>
            <extensionName>c:FooterWithFinishButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Article_type_record</name>
        <label>Article</label>
        <locationX>252</locationX>
        <locationY>786</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Type_Rocord_type_1</targetReference>
        </connector>
        <fields>
            <name>Page_show_record_type_3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;{!Choose_record_type_resource}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Title_field_recordtypeArticle</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Image_Link_field_recordtypeArticle</name>
            <fieldText>Image Link</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Subtitle_field_recordtypeArticle</name>
            <dataType>String</dataType>
            <fieldText>Subtitle</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Image_Title_field_recordtypeArticle</name>
            <dataType>String</dataType>
            <fieldText>Image Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Content_Class_field_recordtypeArticle</name>
            <choiceReferences>Content_Class_choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Content Class</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Language_field_recordtypeArticle</name>
            <choiceReferences>Languageobject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Resource_Type3</name>
            <choiceReferences>Resource_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resource Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Posting_Date_field_recordtypeArticle</name>
            <dataType>Date</dataType>
            <fieldText>Posting Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Version_Date3</name>
            <dataType>Date</dataType>
            <fieldText>Version Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expiration_Date_field_recordtypeArticle</name>
            <dataType>Date</dataType>
            <fieldText>Expiration Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Updated_Date_field_recordtypeArticle</name>
            <dataType>Date</dataType>
            <fieldText>Updated Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description_field_recordtypeArticle</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Body_field_recordtypeArticle</name>
            <fieldText>Body</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Author_s_Name_field_recordtypeArticle</name>
            <dataType>String</dataType>
            <fieldText>Author&apos;s Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Source_field_recordtypeArticle</name>
            <dataType>String</dataType>
            <fieldText>Source</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copyright_field_recordtypeArticle</name>
            <dataType>String</dataType>
            <fieldText>Copyright</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X3rd_Party_Source_field_recordtypeArticle</name>
            <choiceReferences>x3rdPartySource_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>3rd Party Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SiteCore_Conditions_field_recordtypeArticle</name>
            <dataType>String</dataType>
            <fieldText>SiteCore Conditions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Image_Subtitle_field_recordtypeArticle</name>
            <dataType>String</dataType>
            <fieldText>Image Subtitle</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Byline_field_recordtypeArticle</name>
            <dataType>String</dataType>
            <fieldText>Byline</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>URL_Part_field_recordtypeArticle</name>
            <dataType>String</dataType>
            <fieldText>URL Part</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Article_External_Link_field_recordtypeArticle</name>
            <fieldText>Article External Link</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Remove_sharing_field_recordtypeArticle</name>
            <dataType>Boolean</dataType>
            <fieldText>Remove sharing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FinihsButton2</name>
            <extensionName>c:FooterWithFinishButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose</name>
        <label>Choose</label>
        <locationX>503</locationX>
        <locationY>282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Current_or_new_resource</targetReference>
        </connector>
        <fields>
            <name>Page_show_record_type_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Choose resource &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pick_option</name>
            <choiceReferences>Exist</choiceReferences>
            <choiceReferences>New</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick an option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Exist_Res_c</name>
        <label>Exist Res</label>
        <locationX>1442</locationX>
        <locationY>936</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Study_Res_0</targetReference>
        </connector>
        <fields>
            <name>Study_Recources</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Resource__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Res_study__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Exist_recource_variable</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>FootherForFinish</name>
            <extensionName>c:FooterWithFinishButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Type</name>
        <label>Choose Record Type Recource</label>
        <locationX>496</locationX>
        <locationY>108</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Study_Resource</targetReference>
        </connector>
        <fields>
            <name>ResourceLabel</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Resources&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_record_type_resource</name>
            <choiceReferences>RelevantLink</choiceReferences>
            <choiceReferences>Article</choiceReferences>
            <choiceReferences>Study_Document_recordtype</choiceReferences>
            <choiceReferences>Video</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose record type resource</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Relevant_Link_recordType</name>
        <label>Relevant Link</label>
        <locationX>493</locationX>
        <locationY>825</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Type_Rocord_type_1</targetReference>
        </connector>
        <fields>
            <name>Page_show_record_type_4</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;{!Choose_record_type_resource}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>URL_field_urlRecordType</name>
            <fieldText>URL</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Title_URL_field_RecordType</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Countries_field_RecordType</name>
            <choiceReferences>Countries_multipicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Countries</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Languages_field_RecordType</name>
            <choiceReferences>Languages_c_multipicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Languages</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type_field_RecordType</name>
            <choiceReferences>Type_c_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Resource_Type2</name>
            <choiceReferences>Resource_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resource Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RelevantLinksDescription</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Version_Date2</name>
            <dataType>Date</dataType>
            <fieldText>Version Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FinihsButton</name>
            <extensionName>c:FooterWithFinishButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Study_Doc_c</name>
        <label>Study Doc</label>
        <locationX>727</locationX>
        <locationY>910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Type_Rocord_type_1</targetReference>
        </connector>
        <fields>
            <name>Page_show_record_type_5</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Choose_record_type_resource}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Document_types</name>
            <choiceReferences>Document_type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Document types</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Resource_Type1</name>
            <choiceReferences>Resource_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resource Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Version_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Version_Date</elementReference>
            </defaultValue>
            <fieldText>Version Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Study_Resource</name>
        <label>Study Resource</label>
        <locationX>390</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choose</targetReference>
        </connector>
        <fields>
            <name>Page_show_record_type</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Resource&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CTP</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Clinical Trial Profile</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Clinical_Trial_Profile__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Res_study__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>DependecyPicklist2</name>
            <extensionName>c:DependentPicklistWithRecordTypeSupport</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>controllingFieldApiName</name>
                <value>
                    <stringValue>Active_On_Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentFieldApiName</name>
                <value>
                    <stringValue>Expires_On_Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Res_study__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ActiveOnStatus_variable</assignToReference>
                <name>selectedControllingPicklistValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ExpiresOnStatus_variable</assignToReference>
                <name>selectedDependentPicklistValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Number_of_Days_Active_after_Enrollment</name>
            <dataType>Number</dataType>
            <fieldText>Number of Days Active after Enrollment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>4</scale>
        </fields>
        <fields>
            <name>Number_of_Days_Before_Document_Expires</name>
            <dataType>Number</dataType>
            <fieldText>Number of Days Before Document Expires</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>4</scale>
        </fields>
        <fields>
            <name>Visible_To_Participant</name>
            <dataType>Boolean</dataType>
            <fieldText>Visible To Participant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Visible_In_Alumni</name>
            <dataType>Boolean</dataType>
            <fieldText>Visible In Alumni</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Visible_To_Delegates</name>
            <dataType>Boolean</dataType>
            <fieldText>Visible To Delegates</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notify_On_Availability</name>
            <dataType>Boolean</dataType>
            <fieldText>Notify On Availability</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Choose_record_type_resource</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Study_Document_recordtype</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Visible_To_PI</name>
            <dataType>Boolean</dataType>
            <fieldText>Visible To PI</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Visible_To_RP</name>
            <dataType>Boolean</dataType>
            <fieldText>Visible To RP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_File</name>
        <label>Upload File</label>
        <locationX>149</locationX>
        <locationY>1340</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_COI</targetReference>
        </connector>
        <fields>
            <name>Page_show_record_type_6</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;{!Choose_record_type_resource}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload</name>
            <fieldText>&lt;p&gt;Choose file for upload&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fileupload</name>
            <extensionName>c:FileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Recources_for_StudyRes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>docIds</name>
                <value>
                    <elementReference>DocIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Recources_for_StudyRes</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DocIds</assignToReference>
                <name>docIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>footerWothButtonFinish</name>
            <extensionName>c:FooterWithFinishButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>&lt;p&gt;lk&lt;/p&gt;</pausedText>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Video_type_record</name>
        <label>Video</label>
        <locationX>174</locationX>
        <locationY>894</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Type_Rocord_type_1</targetReference>
        </connector>
        <fields>
            <name>Page_show_record_type_2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;{!Choose_record_type_resource}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Title_field_recordtypeArticle_0</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Image_Link_field_recordtypeArticle_0</name>
            <fieldText>Image Link</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Subtitle_field_recordtypeArticle_0</name>
            <dataType>String</dataType>
            <fieldText>Subtitle</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Image_Title_field_recordtypeArticle_0</name>
            <dataType>String</dataType>
            <fieldText>Image Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Content_Class_field_recordtypeArticle_0</name>
            <choiceReferences>Content_Class_choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Content Class</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Language_field_recordtypeArticle_0</name>
            <choiceReferences>Languageobject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Resource_Type4</name>
            <choiceReferences>Resource_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resource Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Posting_Date_field_recordtypeArticle_0</name>
            <dataType>Date</dataType>
            <fieldText>Posting Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Version_Date4</name>
            <dataType>Date</dataType>
            <fieldText>Version Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expiration_Date_field_recordtypeArticle_0</name>
            <dataType>Date</dataType>
            <fieldText>Expiration Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Updated_Date_field_recordtypeArticle_0</name>
            <dataType>Date</dataType>
            <fieldText>Updated Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Video_Link_field</name>
            <fieldText>Video Link</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_field_recordtypeArticle_0</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Body_field_recordtypeArticle_0</name>
            <fieldText>Body</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Author_s_Name_field_recordtypeArticle_0</name>
            <dataType>String</dataType>
            <fieldText>Author&apos;s Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Source_field_recordtypeArticle_0</name>
            <dataType>String</dataType>
            <fieldText>Source</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copyright_field_recordtypeArticle_0</name>
            <dataType>String</dataType>
            <fieldText>Copyright</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X3rd_Party_Source_field_recordtypeArticle_0</name>
            <choiceReferences>x3rdPartySource_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>3rd Party Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SiteCore_Conditions_field_recordtypeArticle_0</name>
            <dataType>String</dataType>
            <fieldText>SiteCore Conditions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Image_Subtitle_field_recordtypeArticle_0</name>
            <dataType>String</dataType>
            <fieldText>Image Subtitle</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Byline_field_recordtypeArticle_0</name>
            <dataType>String</dataType>
            <fieldText>Byline</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>URL_Part_field_recordtypeArticle_0</name>
            <dataType>String</dataType>
            <fieldText>URL Part</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Article_External_Link_field_recordtypeArticle_0</name>
            <fieldText>Article External Link</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Remove_sharing_field_recordtypeArticle_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Remove sharing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FinihsButton3</name>
            <extensionName>c:FooterWithFinishButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>663</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActiveOnStatus_variable</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Assigned</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Resource__c</objectType>
    </variables>
    <variables>
        <name>ClinicalTrialProfileId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Clinical_Trial_Profile__c</objectType>
    </variables>
    <variables>
        <name>COIRecordIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Created_resource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Resource__c</objectType>
    </variables>
    <variables>
        <name>currentCTPvar13</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Clinical_Trial_Profile__c</objectType>
    </variables>
    <variables>
        <name>DocIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Exist_recource_variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExpiresOnStatus_variable</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdfirstRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>Recources_for_StudyRes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecourcesName_variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>RecourcesName</elementReference>
        </value>
    </variables>
    <variables>
        <name>ResDoc_doc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Recource Doc</stringValue>
        </value>
    </variables>
    <variables>
        <name>StudySpecific</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Study-Specific</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Resource__c</objectType>
    </variables>
</Flow>
