force-app/main/default/flows/Welcome_to_the_Study_Caregiver_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Welcome to the Study Caregiver Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Welcome to the Study Participant Delegate Alert</label>
    <loops>
        <name>Loop_though_Participant_Delegates</name>
        <label>Loop though Participant Delegates</label>
        <locationX>659</locationX>
        <locationY>180</locationY>
        <assignNextValueToReference>CurrentCaregiver</assignNextValueToReference>
        <collectionReference>Caregivers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Alerts</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Alerts</name>
        <label>Create Alerts</label>
        <locationX>784</locationX>
        <locationY>343</locationY>
        <inputAssignments>
            <field>Alert_Code__c</field>
            <value>
                <stringValue>Welcome_to_the_Study</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>CurrentCaregiver.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>varPSEid</elementReference>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Participant_Delegates_of_this_Participant</name>
        <label>Find Participant Delegates of this Participant</label>
        <locationX>412</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_though_Participant_Delegates</targetReference>
        </connector>
        <filters>
            <field>Participant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParticipantID</elementReference>
            </value>
        </filters>
        <object>Patient_Delegate__c</object>
        <outputReference>Caregivers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <startElementReference>Find_Participant_Delegates_of_this_Participant</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>Alert_Welcome_Page_Caregivers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Delegate__c</objectType>
    </variables>
    <variables>
        <name>CaregiverID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Caregivers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Delegate__c</objectType>
    </variables>
    <variables>
        <name>CurrentCaregiver</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Delegate__c</objectType>
    </variables>
    <variables>
        <name>varParticipantID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPSEid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Welcome_to_the_study_page_cagevirers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Delegate__c</objectType>
    </variables>
</Flow>
