force-app/main/messaging/flows/Notification_to_Mass_Recipients.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send generic notification to a group of recipients</description>
        <name>Notification_to_Bulk_Recipients</name>
        <label>Notification to Bulk Recipients</label>
        <locationX>297</locationX>
        <locationY>584</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Assign_Success_returnValue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_returnValue</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>NotificationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <stringValue>{&quot;type&quot;: &quot;comm__namedPage&quot;,&quot;attributes&quot;: {&quot;name&quot;: &quot;Home&quot;}}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>returnValue when exception arises</description>
        <name>Assign_Fault_returnValue</name>
        <label>Assign Fault returnValue</label>
        <locationX>532</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>returnValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>returnValue when the operation is successful</description>
        <name>Assign_Success_returnValue</name>
        <label>Assign Success returnValue</label>
        <locationX>297</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>returnValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Success</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Get_Number_of_Recipients</name>
        <label>Get Number of Recipients</label>
        <locationX>296</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>collectionSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Inputs</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Success</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Success</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Validate the inputs coming from Apex</description>
        <name>Validate_Inputs</name>
        <label>Validate Inputs</label>
        <locationX>288</locationX>
        <locationY>397</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fire_Push_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotificationId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NotificationTitle</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NotificationBody</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionSize</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_to_Bulk_Recipients</targetReference>
            </connector>
            <label>Fire Push Notification</label>
        </rules>
    </decisions>
    <description>Fire generic custom notifications in the platform for mass recipients.</description>
    <interviewLabel>Notification_to_Mass_Recipients {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notification to Mass Recipients</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>171</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Number_of_Recipients</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>collectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Hold the custom notification message body</description>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Hold the Custom Notification Id in this variable</description>
        <name>NotificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Hold the custom notification title</description>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Get the list of recipients from Apex</description>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
